.Home{
    width: 75%;
    margin: 0 auto;
    min-height: 80vh;
}
.home_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}
.Home_img img{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Home_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Home_text span{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.Home_text h3{
    font-family: "Playfair Display", serif;
    width: 70%;
    font-size: 3rem;
    background: linear-gradient(to right, #FADA7A, #3674B5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.Home_text h2{
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}
.Home_btn{
    font-size: 1.5rem;
    color: #FADA7A!important;
    border-color: #FADA7A!important;
    background-color: #3674B5!important;
    font-size: 1.5rem!important;
}
.Home_btn:hover{
    background-color: #FADA7A!important;
    color: #3674B5!important;
}
 
@media (min-width: 768px) and (max-width: 1200px) {
    .Home {
        width: 95%;
        flex-direction: column-reverse;
    }
    .Home_text h3{
        font-size: 2.5rem;
    }

  }
 @media (min-width: 425px) and (max-width: 768px){
    .Home {
        width: 95%;
        padding: 1rem;
    }
    .home_top{
        flex-direction: column-reverse;
        padding: 1.5rem;
    }
    .Home_img{
        margin-bottom: 2rem;
    }
    .Home_text h3 {
        font-size: 2rem;
        text-align: center;
    }
    .Home_text span{
        margin-bottom: 1rem;
    }
    .Home_text h2 {
        font-size: 1.2rem;
        text-align: center;
    }
}
@media (max-width: 425px){
    .Home {
        width: 95%;
        padding: 1rem 0;
    }
    .Home_text h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    .Home_text span{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .Home_text h2 {
        font-size: 1rem;
        text-align: center;
    }
    .Home_btn{
        font-size: 1rem!important;
    }
    .home_top{
        padding: 1rem;
        flex-direction: column-reverse;
    }
    .Home_img{
        margin-bottom: 2rem;
    }
}